.container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  border: none;
  outline: none;
  padding: 0px 23px;
  gap: 11px;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.pink {
    background: #f1d1e5;
    color: #2c2c2c;
  }

  &.black {
    background: #2c2c2c;
    color: #f1d1e5;
  }

  img {
    width: 25px;
  }
}
