@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.material-icons {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  margin-top: -2px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 93px;
  background: #2a2a2a;
  background-image: url(./assets/paloma_faucet.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200px 35px;
  color: #fff;
  font-weight: 300;
  line-height: 50px;
  font-size: 14px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  span {
    font-weight: 500;
    color: #fff;
  }
}

footer {
  text-align: center;
  padding: 20px 20px 30px;
  font-size: 14px;
  span {
    font-weight: 700;
  }
}

.network_select {
  position: absolute;
  margin-top: 6px;
  right: 20px;
  height: 36px;

  @media (max-width: 768px) {
    height: 28px !important;
    margin-top: 10px;
  }
}

.Toastify__toast-container--top-right {
  top: 15px !important;
  right: 15px !important;
  width: 360px !important;
}

.Toastify__toast {
  word-break: break-word !important;
  font-family: inherit !important;
  padding: 15px !important;
  border-radius: 5px !important;
  font-size: 15px !important;
  letter-spacing: 0 !important;
  line-height: 20px !important;
}

.Toastify__toast--info {
  background: #5493f7 !important;
}
.Toastify__toast--success {
  background: #1daa8e !important;
}
.Toastify__toast--warning {
  background: #fd9a02 !important;
}
.Toastify__toast--error {
  background: #ff5561 !important;
}

@media screen and (min-width: 360px) {
  section {
    border-radius: 5px;
    padding: 30px 20px;
  }
}

@media screen and (min-width: 375px) {
  section {
    border-radius: 5px;
    padding: 30px 25px;
  }
}

@media screen and (min-width: 400px) {
  section {
    border-radius: 5px;
    padding: 30px 30px;
  }
}

@media screen and (min-width: 680px) {
  section {
    margin: 20px auto;
    padding: 40px 40px;
    .buttonContainer {
      button {
        width: auto;
      }
    }
  }
}
